blessings==1.6
certifi==2020.6.20
elasticsearch==7.8.0
elasticsearch-dsl==7.2.1
progressbar2==3.10.1
python-dateutil==2.8.1
python-utils==2.4.0
PyYAML==3.12
requests==2.20.0
six==1.15.0
urllib3==1.25.9
wrapt==1.12.0
